*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}
img{
    width:100%
    height:auto;
    margin:0;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.row{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.gallery{
    color:white;
    margin: 20px;
}
.row{
    padding:10px;
    margin:10px;
  
}



   


